/*
	Arquivo para o header
*/

@charset "utf-8";

:root {
	--azul-escuro: #2f5572;
	--azul-escuro-texto: #4f6e87;
	--azul-transparente: rgba(108, 133, 149, 0.65);
	--branco: #fff;
	--branco-transparente: rgba(255, 255, 255, 0.50);
	--laranja: #d59541;
	--preto: black;

	--fonte-titulo: serif;
	--fonte-paragrafo: sans-serif;
	--fonte-link: sans-serif;
	--fonte-botao: sans-serif;
}

.header {
	position: absolute;
	width: 100%;
	top: 0px;
}

.header__container {
	height: 70px;
	padding: 1rm 0rm;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--azul-transparente);
}

.frase-bar {
	color: var(--branco);
	padding: 40px 10px;
	z-index: 1000;
	background-color: var(--azul-escuro);
}

.menu-mobile {
	display: none;
	background-color: var(--azul-escuro);
	cursor: pointer;
}

.menu-mobile:hover {
	text-decoration: none;
}

.menu {
	display: flex;
	gap: 15px;
	align-items: center;
}

.menu__link {
	display: block;
	padding: 0.5rem;
	color: var(--branco);
}

.menu__botao {
	background-color: var(--azul-escuro);
	font-weight: normal;
}

@media (max-width: 800px) {
	.header__container {
		padding: 1rem;
	}

	.navegacao.ativado .menu {
		display: block;
		height: calc(100vh - 70px);
		visibility: visible;
		overflow-y: auto;
	}

	.menu-mobile {
		display: block;
	}

	.menu {
		display: block;
		position: absolute;
		padding-top: 1rem;
		width: 100%;
		top: 70px;
		right: 0px;
		background-color: var(--azul-transparente);
		height: 0px;
		transition: 0.6s;
		z-index: 999;
		visibility: hidden;
		overflow-y: hidden;
	}

	.menu__link {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 2px solid var(--azul-escuro);
	}

	.menu__botao {
		margin: 1rem 1rem;
	}
}