/*
	Arquivo para o main do index
*/
@charset "utf-8";

:root {
	--azul-escuro: #2f5572;
	--azul-escuro-texto: #4f6e87;
	--azul-transparente: rgba(108, 133, 149, 0.65);
	--branco: #fff;
	--branco-transparente: rgba(255, 255, 255, 0.50);
	--laranja: #d59541;
	--preto: black;

	--fonte-titulo: serif;
	--fonte-paragrafo: sans-serif;
	--fonte-link: sans-serif;
	--fonte-botao: sans-serif;
}

/*
	section - inicio
*/
.inicio {
	background-image: url("../img/mountains-g382a3c23c_1280.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.inicio__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 15px);
	min-height: 500px;
	max-height: 720px;
	padding: 10px;
}

.inicio__titulo, .inicio__subtitulo {
	color: var(--azul-escuro);
	font-weight: normal;
}

.inicio__titulo {
	font-size: 4em;
}

.inicio__subtitulo {
	font-size: 2.5em;
}

.inicio__paragrafo {
	color: var(--branco);
	text-align: center;
	font-size: 1.4em;
}

.divisor-hr {
	background-color: var(--azul-escuro);
	height: 15px;
	border-top: 1px solid var(--branco);
}

/*
	section - historia
*/
.historia {
	text-align: center;
}

.historia__titulo {
	font-size: 2em;
	margin: 50px 0px;
	padding: 0px 10px;
}

.historia__paragrafo {
	color: var(--laranja);
	font-size: 1.5em;
	margin: 50px auto;
	padding: 0px 10px;
}

.historia__figure {
	width: 100%;
}

.historia__imagem {
	width: 100%;
}

.divisor-texto-imagem {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.divisor-texto-imagem__img {
	max-width: 427px;
}

.historia-conteudo {
	padding: 0px 15px;
}

.historia-conteudo__titulo {
	text-align: left;
	font-weight: normal;
	margin: 0px;
	padding: 10px;
}

.historia-conteudo__paragrafo {
	color: var(--azul-escuro);
	text-align: justify;
	font-size: 1em;
	margin: 10px auto;
	padding: 10px;
}

.historia-conteudo__link {
	color: var(--laranja);
	font-weight: bold;
	text-decoration: underline;
}

/*
	section - servicos
*/
.servicos-section {
	background-color: var(--azul-escuro);
	padding: 100px 0px;
}

.imagem-texto {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 50px;
}

.servicos-section .imagem-texto__titulo {
	color: var(--branco);
	font-size: 2.5em;
	margin-left: 10px;
}

.servicos-section__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.servicos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 100px;
	grid-row-gap: 50px;
}

.servicos__item {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 400px;
	padding: 10px;
}

.servicos__texto {
	margin-left: 50px;
}

.servicos__titulo {
	color: var(--branco);
	text-align: left;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 15px;
}

.servicos__paragrafo {
	color: var(--branco);
	text-align: justify;
}

/*
	section - testemunhas
*/
.testemunhas {
	background-image: url("../img/kuala-lumpur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.testemunhas__container--opacity {
	background-color: var(--branco-transparente);
	padding: 100px 0px;
}

.testemunhas .imagem-texto__titulo {
	color: var(--azul-escuro);
	font-size: 2.5em;
	margin-left: 10px;
}

.depoimentos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
	margin-top: 100px;
}

.depoimentos__item {
	background-color: var(--branco-transparente);
	text-align: center;
	padding: 25px;
}

.depoimentos__imagem {
	border: 5px solid var(--branco);
	border-radius: 50%;
	position: relative;
	top: -100px;
	margin-bottom: -100px;
	width: 160px;
	height: 160px;
	z-index: 999;
}

.depoimentos__viagens {
	color: var(--laranja);
}

.depoimentos__relato {
	text-align: justify;
}

/*
	versao tablet
*/
@media (max-width: 800px) {
	/*
		section - historia
	*/
	.historia__titulo {
		font-size: 1.5em;
	}

	.historia__paragrafo {
		font-size: 1.3em;
	}

	.divisor-texto-imagem__figure {
		display: none;
	}

	/*
		section - servicos
	*/
	.servicos-section .imagem-texto__titulo {
		color: var(--branco);
		font-size: 1.5em;
		margin-left: 10px;
	}

	.servicos {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 50px;
	}

	.servicos__item {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		max-width: 400px;
	}

	.servicos__titulo {
		color: var(--branco);
		text-align: left;
		font-size: 1.2em;
		font-weight: normal;
		margin-bottom: 15px;
	}

	/*
		section - testemunhas
	*/
	.testemunhas .imagem-texto__titulo {
		color: var(--azul-escuro);
		font-size: 1.5em;
		margin-left: 10px;
	}

	.depoimentos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 50px;
		grid-row-gap: 100px;
		margin-top: 100px;
		padding: 10px;
	}

	.depoimentos__item {
		background-color: var(--branco-transparente);
		text-align: center;
		padding: 25px;
	}

	.depoimentos__imagem {
		border: 5px solid var(--branco);
		border-radius: 50%;
		position: relative;
		top: -100px;
		margin-bottom: -100px;
		width: 160px;
		height: 160px;
		z-index: 999;
	}
}

/*
	versao mobile
*/
@media (max-width: 600px) {
	/*
		section - inicio
	*/
	.inicio__titulo, .inicio__subtitulo {
		font-weight: bold;
	}

	.inicio__titulo {
		font-size: 1.5em;
	}

	.inicio__subtitulo {
		font-size: 1.2em;
	}

	.inicio__paragrafo {
		color: var(--branco);
		text-align: center;
		font-size: 1em;
	}

	/*
		section - testemunhas
	*/
	.testemunhas .imagem-texto__titulo {
		color: var(--azul-escuro);
		font-size: 1.5em;
		margin-left: 10px;
	}

	.depoimentos {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 50px;
		grid-row-gap: 100px;
		margin-top: 100px;
		padding: 10px;
	}

	.depoimentos__item {
		background-color: var(--branco-transparente);
		text-align: center;
		padding: 25px;
	}

	.depoimentos__imagem {
		border: 5px solid var(--branco);
		border-radius: 50%;
		position: relative;
		top: -100px;
		margin-bottom: -100px;
		width: 160px;
		height: 160px;
		z-index: 999;
	}
}